.header {
  text-align: center;
  margin-bottom: 2rem;
}
.name {
  font-size: 3rem;
  font-weight: bold;
  color: var(--accent);
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text);
  margin-bottom: 1rem;
}
